#hold {
    top: 0;
    margin-top: 0;
}
#content {
    /*padding: 0;*/
    clear: both;
}

#people {
    padding: 0 30px;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    clear: both;
}
.person {
    width: 150px;
    height: 150px;
    float: left;
    margin: 25px;
    background: #f7f7f7;
    border-radius: 100%;
    overflow: hidden;
    border: 5px solid #EEE;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
}
.person.ready {
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -ms-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}
.person.ready:hover {
    border-width: 1px;
}
.person > img {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
}