@font-face {
    font-family: "Raleway";
    font-weight: 700;
    src: local("Nonexistent 1442"), url(../fonts/Raleway-Bold-webfont.svg) format("svg"), local("Arial"), local("Helvetica Neue");
}

@font-face {
    font-family: "Raleway";
    font-weight: 600;
    src: local("Nonexistent 1442"), url(../fonts/Raleway-SemiBold-webfont.svg) format("svg"), local("Arial"), local("Helvetica Neue");
}

@font-face {
    font-family: "Quattrocento";
    src: local("Nonexistent 1442"), url(../fonts/Quattrocento-Regular-webfont.svg) format("svg"), local("Arial"), local("Helvetica Neue");
}

html {
    opacity: 0;
}

.loaded {
    opacity: 1;
    -webkit-transition: all 0.75s ease-in;
    -moz-transition: all 0.75s ease-in;
    -ms-transition: all 0.75s ease-in;
    -o-transition: all 0.75s ease-in;
    transition: all 0.75s ease-in;
}

::selection {
    background: #222;
    color: #FFF;
}

.ns {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", "Segoe UI", Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 0px auto;
    width: 33.3%;
    font-size: 3em;
}

p {
    text-align: justify;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -epub-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

a {
    text-decoration: none;
    color: #07C;
}

a:hover {
    background: #07C;
    color: #FFF;
}

body {
    font-family: "Raleway", "Segoe UI", sans-serif;
    -webkit-font-rendering: optimizeLegibility;
    -moz-font-rendering: optimizeLegibility;
    -ms-font-rendering: optimizeLegibility;
    -o-font-rendering: optimizeLegibility;
    font-rendering: optimizeLegibility;
    margin: 0;
}

header {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 5;
    width: 100%;

    -webkit-transition: bottom 0.5s ease;
    -moz-transition: bottom 0.5s ease;
    -o-transition: bottom 0.5s ease;
    -ms-transition: bottom 0.5s ease;
    transition: bottom 0.5s ease;
}

nav {
    position: relative;
    color: #222;
    width: 33.33%;
    left: 33.33%;
    text-transform: capitalize;
    font-size: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hidden {
    bottom: -50px;
}

nav > a {
    width: 33.33%;
    float: left;
    font: 700 12pt/50px "Raleway";
    text-align: center;
    text-decoration: none;
    color: #222;

    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -ms-transition: color 0.2s;
    transition: color 0.2s;
}

nav > a:hover {
    color: #469;
    background: transparent;
}

nav > a:active {
    color: #000;
}

nav > a:first-child, nav > .back + a {
    text-align: left;
}

nav > a:last-child {
    text-align: right;
}

nav > .back:first-child {
    position: absolute;
    left: -100%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-top: 13px;
    margin-left: 13px;
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 100%;
}
nav > .back:hover {
    color: #AAA;
}

#content {
    max-width: 100%;
    padding: 0 0 50px 0;
}

.words {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-bottom: 1em;
    padding-top: 8px;
    max-width: 33.33%;
    font: 1em "Quattrocento", serif;
}

@media screen and (max-width: 800px) {
    h1 {
        float: none;
        clear: none;
        width: auto;
        text-align: inherit;
    }
    #content {
        padding: 0 30px;
    }
    .words {
        max-width: 100%;
    }
    nav {
        width: 100%;
        left: 0;
    }
    nav > a, nav > .back + a, nav > a:first-child, nav > a:last-child {
        float: left;
        text-align: center;
    }
    nav > .back:first-child {
        left: 0;
    }
}